@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.form__submit-button {
  @include v.btn-primary;
  display: block;
  width: 100%;
  margin: 24px auto 4px;
}

@media screen and (max-width: 414px) {
  .form__submit-button {
    padding: 12px 18px;
    font-size: 15px;
  }
}
